a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
    margin: 7px;
}

a:hover {
    color: blue;
    text-decoration: none;
}

.links{
    text-align: center;
    margin-bottom: 10px;
    font-size: 150%;
}
h1 {
    font-size: 350%;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}