<div class="container">

    <div class="header">
        <cuppa-slidemenu *ngIf="hamburgerMenu" [class.active2]="headers[2].active" [class.active3]="headers[3].active" [class.active4]="headers[4].active"
            [menulist]="headers" [config]="config" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>
        <h1 class="names">
            Becca + Gonzo</h1>
    </div>
    <app-links *ngIf="!hamburgerMenu" class="links" [className]="'header-links'" [showHome]="true"></app-links>
</div>