::ng-deep a.header-links{
    margin: 7px;
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: #614152 !important;
}

::ng-deep .cuppa-menu ul > li > a {
    background-color: #614152 !important;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 150%;
}

::ng-deep .cuppa-menu ul > li > a:hover {
    background-color: #9BA17B !important;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 150%;
}

::ng-deep .hamburger-inner::after{
    background-color: white !important;
}

::ng-deep .hamburger-inner::before{
    background-color: white !important;
}

::ng-deep .hamburger-inner{
    background-color: white !important;
}

::ng-deep a:hover.header-links {
    margin: 7px;
    color: #9BA17B;
}

.links {
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.header {
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive, bold;
    color: white;
}

.names {
    font-size: 350%;
    margin: 0;
}

.container {
    background-color: #614152;
    margin-bottom: 40px;
    flex-wrap: nowrap;
    padding-bottom: 3px;
}
::ng-deep .menu-container, .cuppa-menu{
    background-color: #614152 !important;
}
.active1 ::ng-deep .cuppa-menu ul > li:nth-child(2) > a {
    background-color: #9BA17B !important;
}
.active2 ::ng-deep .cuppa-menu ul > li:nth-child(3) > a {
    background-color: #9BA17B !important;
}
.active3 ::ng-deep .cuppa-menu ul > li:nth-child(4) > a {
    background-color: #9BA17B !important;
}
.active4 ::ng-deep .cuppa-menu ul > li:nth-child(5) > a {
    background-color: #9BA17B !important;
}