hr {
    max-width: 600px;
    width: auto;
    padding-right: 20px;
}
.margins {
    margin-right: 20px;
    margin-left: 20px;
}
.container {
    position:absolute;
    bottom:0;

    width: 100%;
    text-align: center;
    margin-bottom: 4px;
    font-family: 'Encode Sans Condensed', sans-serif;
}
