.header {
    font-size: 300%;
    font-family: 'Dancing Script', cursive, bold;
}
.text {
    font-size: 150%;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.container {
    text-align: center;
    margin-top: 100px;
}