.button {
    padding: 0;
    border: 0;
    background-color: white;
    margin-right: 4px;
}
.album-cover {
    margin-right: 4px;
}
.card {
    display: flex;
    width: 260px;
    font-size: 80%;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.buttons {
    display: flex;
    background-color: white;
}
