.button {
    padding: 0;
    border: 0;
    background-color: white;
    margin-right: 4px;
}
.album-cover {
    margin-right: 4px;
}
.card {
    display: flex;
    width: 260px;
    height: 67px;
    font-size: 80%;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    background-color: white;
}
.overflow-text {
    width: 196px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
