.center {
    text-align: center;
}
.block {
    margin: auto;
    display: block;
    font-family: 'Encode Sans Condensed', sans-serif;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}