<div>
	<a href="https://accounts.spotify.com/authorize?client_id=725202a901d54a8db452209beb17fb52&response_type=code&redirect_uri=http://localhost:8090/api/authenticate/&scope=playlist-modify-public%20playlist-modify-private">Local
		Authenticate</a>

</div>
<div>
	<a href="https://accounts.spotify.com/authorize?client_id=725202a901d54a8db452209beb17fb52&response_type=code&redirect_uri=https://api.gon.zone/api/authenticate/&scope=playlist-modify-public%20playlist-modify-private">UAT
		Authenticate</a>
</div>
<div>
	<a href="https://accounts.spotify.com/authorize?client_id=725202a901d54a8db452209beb17fb52&response_type=code&redirect_uri=https://api.beccaandgonzo.love/api/authenticate/&scope=playlist-modify-public%20playlist-modify-private">PROD
		Authenticate</a>
</div>
