.button {
    padding: 0;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.center {
    text-align: center;
}
.block {
    margin: auto;
    display: block;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding-bottom: 80px;
}
.text {
    margin-bottom: 10px;
}