.center {
  text-align: center;
}

.block {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-family: 'Encode Sans Condensed', sans-serif;
  padding-bottom: 80px;
}

.text {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.test {
  display: table;
}

.button {
  padding: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 20px;
}
