<div class="block pad-footer">
	<div class="section">
		<div class="header">Food</div>
		<div class="text">
			<div>
				<a href="http://www.ceviche105.com/site/">Cvi.che 105</a> <i> authentic Peruvian food</i>
			</div>
			<div>
				We recommend the ceviche mixto in crema de pisco or lomo saltado.
			</div>
		</div>

		<div class="text">
			<div>
				<a href="http://www.sergios.com/">Sergio's</a> <i> authentic Cuban</i>
			</div>
			<div>
				Try the vaca frita with black beans and rice and maduros on the side.
			</div>
		</div>

		<div class="text">
			<div>
				<a href="https://www.google.com/maps/place/Mi+Rinconcito+Mexicano/@25.765635,-80.227927,15z/data=!4m5!3m4!1s0x0:0x50c999df96551ee!8m2!3d25.765635!4d-80.227927">El
					Rinconcito Mexicano</a> <i> authentic Mexican</i>
			</div>
			<div>
				If you’re feeling adventurous try the tongue tacos.
			</div>
		</div>

		<div class="text">
			<div>
				<a href="https://www.saltydonut.com/">
					Salty Donut</a> <i> amazing donuts</i>
			</div>
			<div>
				Best donuts on the planet. We are not kidding.
			</div>
		</div>
	</div>

	<div class=" section">
		<div class="header">Breweries</div>
		<div class="text">
			<a href="https://jwakefieldbrewing.com/">J. Wakefield Brewing</a>
		</div>

		<div class="text">
			<a href="http://concretebeachbrewery.com/">Concrete Beach Brewery</a>
		</div>

		<div class="text">
			<a href="https://www.google.com/maps/place/Wynwood+Brewing+Company/@25.8002131,-80.2043848,15z/data=!4m5!3m4!1s0x0:0x589fe89b95b65fcc!8m2!3d25.8002131!4d-80.2043848">
				Wynwood Brewing Company</a>
		</div>
	</div>

	<div class=" section">
		<div class="header">Beaches</div>
		<div class="text">
			<div>
				<a href="http://www.miamidade.gov/parks/crandon.asp">
					Crandon Park</a>
			</div>
			<div>
				Lots of sandbars so it is great for kids.
			</div>
		</div>

		<div class="text">
			<div>
				<a href="https://www.floridastateparks.org/parks-and-trails/bill-baggs-cape-florida-state-park">
					Bill Baggs State Park</a> <i></i>
			</div>
			<div>
				Cubans call it "El Farito" because of the historic lighthouse.
			</div>
		</div>

		<div class="text">
			<div>
				<a href="https://www.visitflorida.com/en-us/cities/south-beach.html">
					South Beach</a> <i></i>
			</div>
			<div>
				Great for night life.
			</div>
		</div>
	</div>

	<div class=" section">
		<div class="header">Art & Museums</div>
		<div class="text">
			<a href="https://www.pamm.org/">Perez Art Museum Miami</a>
		</div>

		<div class="text">
			<a href="https://www.frostscience.org/">Frost Museum of Science</a>
		</div>

		<div class="text">
			<a href="http://www.thewynwoodwalls.com/">Wynwood Walls</a>
		</div>
	</div>

</div>
