@import url('https://fonts.googleapis.com/css?family=Exo+2');
.button {
    padding: 0;
    border: 0;
    background-color: white;
    margin-right: 4px;
}
.table {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.album-cover {
    margin-top: .5px;
    margin-right: 3px;
}
.row {
    /* outline-color: black;
    outline-width: 1px;
    outline-style: solid; */
    margin-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 260px;
    font-family: 'Exo 2', sans-serif;
    font-size: 80%;
}
.buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}
