#container {
	margin: auto;
	max-width: 600px;
	padding-left: 20px;
	padding-right: 20px;
}

#rsvp-intro {
	margin-bottom: 5px;
}

.btn {
	margin-left: 3px;
}

.personContainer {
	margin-bottom: 15px;
	margin-top: 15px;
}

.dinner-question label {
	display: table;
	margin-left: 20px;
}

.dinner-question input {
	float: left;
}


.radio-question {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3px;
	margin-bottom: 3px;
}

#validation-error {
	color: #FF0000;
	margin-bottom: 3px;
}

#testing {
	margin-top: 50px;
}

.font {
	font-family: 'Encode Sans Condensed', sans-serif;
}

.center {
	text-align: center;
}

#rsvp-coming-soon {
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-size: 130%;
}

#playlist-intro {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.dinner-question {
	padding-left: 20px;
	padding-right: 20px;
}

.personName label {
	margin-right: 5px;
}
