<div id="container" class="pad-footer">


	<div *ngIf="rsvp" id="rsvp" class="font">
		<form *ngIf="!rsvpFound" [formGroup]="rsvpForm" (submit)="rsvpFormSubmit()">
			<div id="rsvp-intro">
				Enter the RSVP code you received in your invitation to RSVP
			</div>
			<div class="form-group">
				<label class="center-block">
					<input formControlName="code">
				</label>
				<button type="submit" class="btn btn-success">Search</button>
			</div>

		</form>

		<div *ngIf="rsvpFound">
			The following guests are assigned the RSVP code: {{rsvpForm.get('code').value}}
			<form [formGroup]="guestForm" (submit)="guestFormSubmit()">
				<div *ngFor="let person of persons">
					<div class="personContainer">
						<div class="personName">
							{{person.firstName}} {{person.lastName}}
						</div>
						<div>
							Attending
							<div class="radio-question form-group">
								<div class="radio-option">
									<input type="radio" id="attendingYes{{person.personToken}}"
									       name="attending{{person.personToken}}" value="true"
									       formControlName="attending{{person.personToken}}">
									<label for="attendingYes{{person.personToken}}">Let's party!</label>
								</div>
								<div class="radio-option">
									<input type="radio" id="attendingNo{{person.personToken}}"
									       name="attending{{person.personToken}}" value="false"
									       formControlName="attending{{person.personToken}}">
									<label for="attendingNo{{person.personToken}}">I'm missing out :(</label>
								</div>
							</div>
						</div>
						<div class="dinner-question"
						     *ngIf="this.guestForm.get('attending'+person.personToken).value === 'true'">
							Dinner Option
							<div class="radio-question form-group">
								<div class="radio-option">
									<input type="radio" id="dinnerOptionFish{{person.personToken}}"
									       name="dinnerOption{{person.personToken}}" value="FISH"
									       formControlName="dinnerOption{{person.personToken}}">
									<label for="dinnerOptionFish{{person.personToken}}">Herb Crusted Yellow Fin
										Tuna</label>
								</div>
								<div class="radio-option">
									<input type="radio" id="dinnerOptionSteak{{person.personToken}}"
									       name="dinnerOption{{person.personToken}}" value="STEAK"
									       formControlName="dinnerOption{{person.personToken}}">
									<label for="dinnerOptionSteak{{person.personToken}}">Grilled Skirt Steak</label>
								</div>
								<div class="radio-option">
									<input type="radio" id="dinnerOptionVeg{{person.personToken}}"
									       name="dinnerOption{{person.personToken}}" value="VEG"
									       formControlName="dinnerOption{{person.personToken}}">
									<label for="dinnerOptionVeg{{person.personToken}}">Mushroom Risotto</label>
								</div>
								<div class="radio-option">
									<input type="radio" id="dinnerOptionChild{{person.personToken}}"
									       name="dinnerOption{{person.personToken}}" value="CHILD"
									       formControlName="dinnerOption{{person.personToken}}">
									<label for="dinnerOptionChild{{person.personToken}}">Children's Plate</label>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div *ngIf="justSaved">
					Your RSVP has been saved.
				</div>
				<div *ngIf="validationError" id="validation-error">
					Please ensure that everyone attending has a dinner option selected.
				</div>
				<div>
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</form>

		</div>
	</div>

	<div id="playlist-intro" class="font center">
		Do you have a song that will get you up and dancing? Add it to our playlist and we will pass it along to the DJ.
	</div>

	<app-playlist></app-playlist>
</div>





