<div class="container">
    <!-- <button (click)="toggleAdmin()"></button> -->
    <div class="table-text">
        
        Showing {{playlist?.offset + 1}} - {{playlist?.offset + playlist?.items.length}} of {{playlist?.total}} Results
    </div>
    <div class="table" *ngFor="let item of playlist?.items">
        <app-track-card class="card" [track]=item.track [playingSongId]="playingSongId" [isAdmin]="isAdmin" (playlistUpdate)="updatePlaylist()"
            (playingTrackUpdate)="playTrack(item.track)"></app-track-card>
    </div>
    <div class="nav">
        <div [class.hide]="!playlist?.previous">
            <button class="button" (click)="previous()">
                <img src="assets/back.png" />
            </button>
        </div>
        <div [class.hide]="!playlist?.next">
            <button class="button" (click)="next()">
                <img src="assets/next.png" />
            </button>
        </div>
    </div>
</div>
