.button {
    padding: 0;
    border: 0;
    background-color: white;
}
.nav {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 60px; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.table {
    margin: auto;
    display: block;
}
.table-header {
    text-align: center;
    font-size: 130%;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.table-text {
    text-align: center;
    font-size: 110%;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.container {
    margin: auto;
    /* border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 240px; */
}
.hide {
    visibility: hidden;
}