<div class="align-center">
  <h1 class="center">
    Test
  </h1>
  <div class="center">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/" routerLinkActive="active">Details</a>
    <a routerLink="/" routerLinkActive="active">Photos</a>
    <a routerLink="/" routerLinkActive="active">Registry</a>
    <a routerLink="/" routerLinkActive="active">Guest Book</a>
    <a routerLink="/" routerLinkActive="active">RSVP</a>
    <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
    <a routerLink="/authenticate" routerLinkActive="active">Authenticate</a>
  </div>
  <router-outlet></router-outlet>
</div>
