.searchInput {
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.searchText {
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
}
.header {
    font-size: 130%;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
}
label {
    margin-right: 3px;
}
