<div class="pad-footer container">
	<div class="breakdown">
		<div>
			RSVP Breakdown
		</div>
		<div>
			Total Invited: {{persons.length}}
		</div>
		<div>
			Total Responded: {{rsvpAttending + rsvpNotAttending}}
		</div>
		<div>
			Attending: {{rsvpAttending}}
		</div>
		<div>
			Not Attending: {{rsvpNotAttending}}
		</div>
		<div>
			null: {{rsvpNull}}
		</div>
	</div>
	<div class="breakdown">
		<div>
			Dinner Breakdown
		</div>
		<div>
			Steak: {{dinnerSteak}}
		</div>
		<div>
			Fish: {{dinnerFish}}
		</div>
		<div>
			Veg: {{dinnerVeg}}
		</div>
		<div>
			child: {{dinnerChild}}
		</div>
		<div>
			null: {{dinnerNull}}
		</div>
	</div>
	<shark-table
			[data]="persons"
			[localFilter]="true"
			[columns]="tableColumns"
			[localPaging]="true"
			[localPagingSize]="50"
	>
	</shark-table>
</div>
