:host-context(.header-links) > a {
	margin: 7px;
	color: white;
	font-family: 'Encode Sans Condensed', sans-serif;
	background-color: #614152;
}

:host-context(.header-links) > a:hover {
	color: #9BA17B;
}

:host-context(.header-links) > a.active {
	color: #9BA17B;
}

:host-context(.home-links) > a {
	display: block;
	text-align: right;
	margin: 0 calc(10px + 8vw) 0 0;
	color: #614152;
	font-size: calc(15px + 3vw);
	font-family: 'Encode Sans Condensed', sans-serif;
}

:host-context(.home-links) a:hover {
	color: #9BA17B;
}