<a *ngIf="showHome" [className]='className' routerLink="/home" routerLinkActive="active">Home</a>
<a [className]='className' routerLink="/our-story" routerLinkActive="active">Our Story</a>
<a [className]='className' routerLink="/details" routerLinkActive="active">Details</a>
<a [className]='className' routerLink="/photos" routerLinkActive="active">Photos</a>
<!-- <a [className]='className' routerLink="/registry" routerLinkActive="active">Registry</a> -->
<!-- <a [className]='className' routerLink="/guest-book" routerLinkActive="active">Guest Book</a> -->
<!-- <a [className]='className' routerLink="/rsvp" routerLinkActive="active">RSVP</a> -->
<a [className]='className' routerLink="/playlist" routerLinkActive="active">Playlist</a>
<a [className]='className' routerLink="/contact" routerLinkActive="active">Contact</a>