<div class="block center pad-footer">
	<div class="header">How We Met</div>
	<div class="text">
		<div>
			Gonzo and Becca met during freshmen orientation week at MIT. They both intended on getting a chemistry major and so became good friends through
			long days of p-setting, watching movies, and exploring Boston. Gonzo eventually abandoned Becca to get a biological engineering major (she’s not
			bitter) but they were still able to take a few classes together. They graduated and both got jobs in Madison, where they finally decided to give the
			relationship a shot.
		</div>
	</div>
	<img src="assets/how we met vector.jpg">
	<div class="header">The Proposal</div>
	<div class="text">
		<div>
			When Gonzo announced that he was going to Denver for a company conference, Becca got excited. They’d never been to Denver before; it would be fun to
			take a few days off and explore! The Friday after the conference came and Becca landed in Denver, where Gonzo had been all week. They decided to go
			to the Museum of Nature and Science the next day. They spent their time at the museum geeking out at exhibits, particularly the dinosaurs! The last
			stop of the tour was the rooftop where the Denver skyline set the perfect scene. Gonzo got down on one knee where he declared his love and asked
			Becca to marry him. Through tears, she said yes! The perfect proposal was topped off with a tour of the city by horse drawn carriage, a delicious
			French dinner, and a nightcap at a bar overlooking the twinkling lights of the Denver night skyline.
		</div>
	</div>
</div>
