<div class="block center">
  <div class="header">How We Met</div>
  <div class="text">
    <div>We met in 2009 at MIT. We were both interested in chemistry and biology and took many classes together. In 2013, Becca
      graduated with a degree in Chemistry while Gonzo graduated with a degree in Biological Engineering.</div>
  </div>
  <img src="assets/how we met vector.jpg">
  <div class="header">The Proposal</div>
  <div class="text">
    <div>We went to Denver for vacation. We spent the day geeking out at the Museum of Nature and Science. The last stop of the
      tour was the rooftop where the Denver skyline set the perfect scene. Gonzo got down on one knee where he declared his
      undying love. Through tears, Becca said yes! We celebrated the night with a tour of the city by horse-drawn carriage
      and dinner at a French restaurant.
    </div>
  </div>

</div>