<div class="block center">
  <div class="header">How we met</div>
  <div>We met in 2009 at MIT. They were both inerested in chesmitry and biology so ended up taking many classes together. In 2013,
    Becca graduated with a degree in chemistry while Gonzo graduated with a degree in Biological Engineering.</div>
  <img src="assets/how we met vector.jpg">
  <div class="header">The proposal</div>
  <div>We took a mini vacation to Denver. We spent the day geeking out at the musuem of nature and science. The last stop of the
    tour was the rooftop where the denver skyline set the perfect scene. Gonzo got down and one knee where he declared his
    undying love. We then celebrated the night with a trouch of the city by horse drawn carriage riade and dinner at a french
    restraunt</div>
</div>