@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Teko');
body { 
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
    margin: 0;
 }
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.links{
    font-family: 'Teko', sans-serif, bold;
}
h1 {
    font-family: 'Dancing Script', cursive, bold;
}