@import url('https://fonts.googleapis.com/css?family=Signika:700');
.container {
    height: 100%
}
.header {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.names {
    font-size: 700%;
    margin: 0;
    margin-right: 125px;
}
.links {
    font-size: 300%;
    /* text-shadow: 1px 1px; */
    /* text-shadow: 1px 1px 2px black; */
    font-family: 'Signika', sans-serif;
}
::ng-deep .home-links {
    display: block;
    text-align: right;
    margin: 0;
    margin-right: 125px;
}
