<div class="container" [style.background]="'url(./assets/background.JPG)'">
  <h1 class="header">
    Rebecca + Gonzo</h1>
  <div class="links">
    <div class="center">
      <a routerLink="/" routerLinkActive="active">Home</a>
    </div>
    <div class="center">
      <a routerLink="/" routerLinkActive="active">Details</a>
    </div>
    <div class="center">
      <a routerLink="/" routerLinkActive="active">Photos</a>
    </div>
    <div class="center">
      <a routerLink="/" routerLinkActive="active">Registry</a>
    </div>
    <div class="center">
      <a routerLink="/" routerLinkActive="active">Guest Book</a>
    </div>
    <div class="center">
      <a routerLink="/" routerLinkActive="active">RSVP</a>
    </div>
    <div class="center">
      <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
    </div>
    <div class="center">
      <a routerLink="/authenticate" routerLinkActive="active">Authenticate</a>
    </div>
  </div>
</div>