.container {
	background: url(/assets/background3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 100%;
	width: 100%;
}

.header {
	width: 100%;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #614152;
}

.names {
	font-size: calc(60px + 7vw);
	margin: 0;
	margin-right: calc(10px + 8vw);
	margin-bottom: 10px;
	font-family: 'Lobster', cursive;
}

::ng-deep .home-links > a {
	display: block;
	text-align: right;
	margin: 0;
	margin-right: calc(10px + 8vw);
	color: #614152;
	font-size: calc(15px + 4vw);
	/* font-size: 6vmin; */
	font-family: 'Encode Sans Condensed', sans-serif;
	/* width: 250px; */
}

::ng-deep .home-links > a:hover {
	color: #9BA17B;
}

@media (min-width: 600px) {
	:root {
		font-size: 8vw;
	}
}

