.container {
    background-image: url("../../assets/background3.jpg");
    height: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.names {
    font-size: 700%;
    margin: 0;
    margin-right: 125px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive, bold;
}

.links {
    font-size: 250%;
    font-family: 'Encode Sans Condensed', sans-serif;
}

::ng-deep .home-links {
    display: block;
    text-align: right;
    margin: 0;
    margin-right: 125px;
    color: black;
}

::ng-deep a:hover.home-links {
    color: blue;
}