@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
.center {
    text-align: center;
}

.date {
    font-size: 130%;
    margin-bottom: 10px;
}
.header {
    font-size: 130%;
}

.text {
    font-size: 100%;
}

.block {
    margin: auto;
    display: block;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.google-map {
    width: 600px;
    height: 450px;
    margin: auto;
    /* border-style: solid; */
    /* border-width: 2px; */
    text-align: center;
    margin-bottom: 10px;
}

.google-map-loader {
    padding-top: 120px;
}