.center {
    text-align: center;
}
.block {
    margin: auto;
    display: block;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding-bottom: 80px;
}

.date {
    font-size: 130%;
    margin-bottom: 10px;
}
.header {
    font-size: 130%;
}

.text {
    margin-bottom: 5px;
}

.google-map {
    height: 450px;
    margin: 10px auto 20px;
    /* border-style: solid; */
    /* border-width: 2px; */
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.google-map-loader {
    /* border-style: solid; */
    /* border-width: 2px; */
}
hr {
    max-width: 700px;
    width: auto;
	margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.margins {
    margin-right: 20px;
    margin-left: 20px;
}