<h1>Where</h1>
<div class="block">
  <div class="text">
    Briza on the Bay
  </div>
  <div class="text">
    1717 N. Bayshore Drive, Suite 115
  </div>
  <div class="text">
    Miami, Florida US 33132
  </div>
</div>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions
?key=AIzaSyDKdrs1gTYdi-b5IBRqJdnCpguIZ_SF8y8
&origin=Miami+International+Airport
&destination=Briza on the Bay, 1717 N Bayshore Dr, Miami, FL 33132
&avoid=tolls|highways" allowfullscreen>
</iframe>